[2020-03-05 07:37] edtro opened #1 "New feature: Quick Filters (like in standard boards)"

[2020-03-05 07:38] edtro opened #2 "New feature: load settings from a project team"

[2020-03-05 07:40] edtro opened #3 "New feature: save settings per query to entension data"

[2020-03-05 07:41] edtro opened #4 "New feature: collapse columns Proposed and Completed"

[2020-03-05 07:41] edtro opened #5 "Improvement: add polyfills for IE"

[2020-03-05 07:43] edtro opened #6 "Improvement: tweak the layout of the arrows"
Colors of the start/endpoints are mixed up... the color that is rendered first, is used in all arrows

[2020-03-05 07:44] edtro opened #7 "New feature: split columns in doing/done and add swimlanes"

[2020-03-05 07:45] edtro opened #8 "Bug: rendering problems of the scss highlight colors red/orange"

[2020-03-05 07:48] edtro commented on #8
Solved: Because these colors are not flipped around by the stylesheet, the $status-error-foreground and $status-warning-foreground variables are not used anymore, using the colors directly

[2020-03-05 07:48] #8 closed

[2020-03-05 07:49] edtro opened #9 "Bug: on an on-prem instance of AzDo 2019 could not open the workitem from the board"

[2020-03-05 07:50] edtro commented on #9
Solved: Created a workaround and published new version to marketplace

[2020-03-05 07:52] edtro commented on #9
Posted a issue: https://github.com/microsoft/azure-devops-extension-sdk/issues/23

[2020-03-05 07:53] #9 closed

[2020-03-05 07:53] edtro commented on #7
maybe this can also be done based on boolean fields.

[2020-03-05 08:05] edtro opened #10 "Improvement: add touch support"

[2020-03-05 19:19] edtro commented on #6
also added a zoomlevel slider

[2020-03-05 19:19] edtro commented on #6
Implemented in 0.20065

[2020-03-05 19:19] #6 closed

[2020-03-06 10:54] edtro opened #11 "Bug: When query has no results the no-data should appear... this does not happen"

[2020-03-21 17:47] edtro commented on #10
Currently trying out: https://github.com/LouisBrunner/dnd-multi-backend/tree/master/packages/react-dnd-multi-backend

[2020-03-25 10:45] edtro opened #12 "New feature: allow to setup of what fields that should be displayed on the cards"

[2020-04-04 19:02] edtro commented on #11
implemented in Implemented in 0.20096

[2020-04-04 19:02] #11 closed

[2020-04-04 19:03] edtro commented on #10
Implemented in 0.20096

The mulit backend is now in use, while using a lot off tweaks etc. (like a custom drag-preview and a workaround to remove the default drag-ghost, especially for Edge)

[2020-04-04 19:03] #10 closed

[2020-04-12 13:44] edtro opened #13 "New feature: visualize boards based on multiple types of process definitons (multi project)"

[2020-04-14 05:39] edtro commented on #13
Resolved in v0.20104

[2020-04-14 05:39] #13 closed

[2020-04-14 05:40] edtro commented on #4
Resolved in v0.20104

[2020-04-14 05:40] #4 closed

[2020-04-14 05:40] edtro commented on #3
Resolved in v0.20104

[2020-04-14 05:40] edtro commented on #3
Resolved in v0.20104

[2020-04-14 05:41] #3 closed

[2020-04-14 07:40] edtro opened #14 "Bug: in some situations while using the legacy XML process definitions, the drag/drop does not work in Edge"
in some situations while using the legacy XML process definitions, the drag/drop does not work in Edge... while the same is working without any problems in Chrome.

The inheritance process definitions work without any problems in Edge.

[2020-04-17 07:00] edtro commented on #14
Analysed this:
- This is only on On-Premise
- This only with 'the Old Edge' with the new Chonium based Edge there is no issue
- Also tested on Firefox... there are no issues.

When trying to debug with a 'dev' build, there are no problems.
While debugging within the minimalized code... noticed that the problems are within the React-Dnd library, most likely within the monitor.canDrop(). So I am not

[2020-04-17 07:00] #14 closed

[2020-05-07 14:38] edtro commented on #2
The queries are not linked to a team within your project

[2020-05-07 14:39] edtro commented on #5
It will take too much effort to try to get everything up and running on IE and/or the old Edge (pre chronium)

[2020-05-12 13:39] zmartaz opened #15 "After creating an private query the QBB doesn't work for others"
Hello!
So the situation is that while we work with shared querys on our Azure DevOps everything works fine and there are no problems. But if one creates a private query and selects to show it as board, then the query based board shows for others only the "Whoops... Something went wrong while loading the configuration page.". For the one who created the private query it still works fine.
If then an

[2020-05-12 18:03] edtro commented on #15
Dear zmartaz,
I will be looking into this...
Keep you posted!

(can you please provide me with some detailled information... like what is displayed within the console.log, thanks in advance)
Kr
Edward

[2020-05-12 18:53] edtro commented on #15
I think that I have found the source of the issue within the configuration page. I will be creating a hotfix release soon.

[2020-05-13 09:27] edtro commented on #15
Hi, I have created a new release to resolve this problem (this is now available on the marketplace). Within the Configuration Hub the loading error should not appear any more. I have added a checkbox called 'View all queries'... this will enable you, to see configurations of all private queries (for all users), however details cannot be loaded. I also have added extra details (like path and wiql)

[2020-05-13 09:28] edtro commented on #15
Solved in v0.20134

[2020-05-13 09:29] #15 closed

[2020-05-13 09:39] zmartaz commented on #15
Thanks, everything working fine now!

[2020-05-13 10:01] edtro commented on #15
Thank you for your feedback!
Highly appreciated.
Kr
Edward

[2020-05-13 14:19] Lazys opened #16 "Share source code"
Hi,
can you share source code of the extension? We would be able to fork it then and make some additional improvements/bug fixes.

We would really appreciate this.

[2020-05-14 10:25] edtro commented on #16
Unfortunately I am not able to this at the moment. I have created this project completely in my free spare time, I have however released this project under the name of my current employer. So I have an issue regarding IP.

[2020-05-14 10:26] #2 closed

[2020-05-14 15:44] #5 closed

[2020-05-14 18:48] Lazys commented on #16
Ok, I see.

[2020-05-14 18:48] #16 closed

[2020-05-14 18:57] Lazys opened #17 "Bug: Columns for custom states are not displayed"
We have in our company added few custom states to the work items, but it looks like that appropriate columns for this states are not displayed even if there are some work items which should be displayed.

Also we have query where we display work items according to the rules:
![image](https://user-images.githubusercontent.com/21179961/81974068-53aca080-9625-11ea-9ada-7802523d1c00.png)
and work item

[2020-05-14 19:00] Lazys opened #18 "Possibility to show team on the work item card"
It would be nice if we could see Team or Area on the work item card - we mostly use queries with option "query across projects" so this is very important for us.

[2020-05-14 19:01] Lazys opened #19 "Possibility to show tags on the work item card"
It would be great if we could configure extension to show tags on the work item cards :)

[2020-05-15 05:11] edtro commented on #19
Hi, thanks for the feedback.
I already have raised an issue for this

[2020-05-15 05:13] edtro commented on #19
See #12

[2020-05-15 05:13] #19 closed

[2020-05-15 05:14] edtro commented on #18
Hi, thanks for the feedback.
I already have raised an issue for this... see ref: #12
So yes, I agree, that this would be great to have! Especially for this.
Kr
Edward

[2020-05-15 05:14] #18 closed

[2020-05-15 05:40] edtro commented on #17
For the first issue I really need more information. Is your Org online or onprem? Are you using the old XML witd or are you using the new inheritance types? Are you getting errors in the console.log() ? Are you using the config hub? Is it a taskboard or kanban?

Because when I test it... just tested on an onprem (and the project is using the old XML witd) and it works fine.

Just to let you know:

[2020-05-15 05:41] edtro commented on #17
The second issue... this I will have to investigate.

[2020-05-15 15:15] edtro commented on #17
I have investigated the second issue... on an online org btw (so I could not use @Today - 1... instead of this I have used the new @StartOfDay('-1d') that has replaced this)... and I did not have any problems. So I need more information.

Tips: did you edit the query in the editor? and did you save it? If you do not save it... QBB will show cards based on the old definition. Please make sure you s

[2020-05-18 06:08] Lazys commented on #18
Great! Thanks :)

[2020-05-18 10:30] Lazys commented on #17
1. Console.log is clear.
2. We're using online organization
3. We have our own process inherited from the "Scrum" process
4. Kanban
5. I didn't touch config, I've just installed your new extension and run query.

So I have the same query which I run in your old extension:
![image](https://user-images.githubusercontent.com/21179961/82203135-2c92ef00-9903-11ea-80c7-0ca3149e257f.png)

And in the one

[2020-05-18 13:10] edtro commented on #17
Hi, thanks for the extra information. It seems that it has something to do with the new extra states.
Strange, because I am retrieving them with the REST api... I will have to look into this. Keep you posted.
Kr.
Edward

[2020-05-18 13:37] Lazys commented on #17
Thanks, waiting for info :)

[2020-05-18 14:44] edtro commented on #17
So I have the following query and config setup:
![tst](https://user-images.githubusercontent.com/27762373/82226067-4e519d80-9926-11ea-886e-a26072078d1a.png)

The Console.log() displayes the following:
`Config loaded: {"fields":[],"columns":[]}`

The REST api is getting the following (after I have added a bunch of states to the Epic):
Epic
[code]
Feature
[code]
etc…

So I am retrieving the correct

[2020-05-19 06:20] Lazys commented on #17
Thanks for detemination, I'm really impressed.

In the console.log I have only:

![image](https://user-images.githubusercontent.com/21179961/82291235-eabc8400-99a8-11ea-99e7-dc7644daf99c.png)

But I guess that failed loading source maps shouldn't be a problem here. But I didn't see any
`Config loaded: {"fields":[],"columns":[]}`
as you described and as I said we didn't touch yours extension config

[2020-05-19 07:34] edtro commented on #17
Eureka! I think I have found the issue... Please can you check within the the definition of the work item type, for the custom stype what 'category' you have filled in? Thanks in advance.

(I am hoping that your answer will support my theory regarding the cause... and If I am right, I will be able to create a new version this evening)

[2020-05-19 17:09] edtro commented on #17
Solved!
I have just released version 0.20140.
Please feel free to check it out... Let me know if this solves your issues.
Kr
Edward

[2020-05-19 17:09] #17 closed

[2020-05-19 17:53] Lazys commented on #17
Yep, it's working :) I'm really glad that you resolved this issue. Thanks for that! We're waiting for the new features ;)

[2020-05-20 06:49] edtro commented on #17
Hi, thanks for the feedback.

I really appreciate that you have raised this issue. This was something that I have overlooked at first. This way I am able to get this extension really stable :-)

Kr
Edward

[2020-05-20 07:00] Lazys commented on #17
Hehe, ok I'm glad to hear that :)

[2020-05-27 16:34] vernazza opened #20 "Collapsible columns behavior is not clear"
Some of the columns have an arrow that allow them to be collapsed.
I thought it was the "isBacklog" parameter in the column definition to set that, but it's something else (or it is and it isn't properly working).
So: it's some hidden configuration, it's a bug or it's something else?

[2020-05-27 19:00] edtro commented on #20
Hi,
Like I have mentioned in the config.md, I did not have the time to create proper documentation, sorry about that.

How it should be working:
* no configuration: it is based on the Category of the State (this is retrieved from the REST api)... 'Proposed' and 'Completed' are considered 'backlog' columns and can be collapsed.
* within the configuration: the Column should have the property "isBack

[2020-05-28 05:37] edtro commented on #20
Hi,
I have had the time to investigate this a little bit further. And it seems that the configuration is ignored completely. So it only looks at the Category of the State at the moment. Will try to fix this.

Thanks for reporting this.

Kr
Edward

[2020-05-30 17:20] edtro commented on #20
Hi, I have managed to solve this issue... but unfortunately it has to wait until the next release. Currently I am  working on a couple of new features and I am hoping to be able to release these in the near future.

I will report back on this issue, when it is released.

Kr
Edward

[2020-06-14 00:56] StingyJack opened #21 ""TeamProjectSettings hub" ?"
[this page ](https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/blob/master/public/config.md)  refers to a team project settings hub. I googled for this and did not find anything for Azure DevOps. Where would one locate this hub? Is there a different name for it?

[2020-06-14 06:51] edtro commented on #21
Hi,

Here you go: https://docs.microsoft.com/en-us/azure/devops/extend/reference/targets/overview?view=azure-devops

Look for: Project settings
This is: ms.vss-web.project-admin-hub-group

Kr
Edward

[2020-06-14 06:51] #21 closed

[2020-06-22 00:56] StingyJack commented on #16
@edtro - If you made this as part of a work effort defined or assigned by your employer, then this is considered by most of the world ([Belgium](https://www.law-right.com/intellectual-property-rights-in-software/#:~:text=Copyright%20protection%20of%20software%20is,Act%20of%2030%20June%201994.&text=In%20the%20case%20of%20software%20created%20by%20an%20employee%20in,seventy%2Dfive%20years%20from%20p

[2020-06-24 14:25] cliveytech opened #22 "Dynamic sizing of column widths"
Please could you implement dynamic sizing of column widths to allow more than 1 card to show horizontally in columns when the users window size allows this?

This would be really useful for us when we do a Kanban style standup (we have lots of cards in each team column)

[2020-06-24 14:26] ChrisGibson1982 commented on #22
i'd definitely be interested in this

[2020-06-24 14:44] edtro commented on #22
Hi,
Thanks for the feedback. Great idea!
But unfortunately I am not planning to implement this. To be honest, I do not know what the impact of this would be. But at least I will be looking into this, to figure out how I could implement this, so I have marked this issue as 'improvement' instead of 'wont fix', at the moment. But I wont be able to do this any time soon.
Kr.
Edward

[2020-07-16 17:21] Lazys commented on #7
Hi, any progress on this and others issues? We're really looking forward new features :)

[2020-07-25 09:05] edtro commented on #7
@Lazys Hi, I just returned from my summer vacation... and I will be picking up things very soon. For the swimlines I have already very promising results, but still have some bugs to resolve. Maybe you are interested in helping me out with pre-release testing? I have setup a seperate private offer/extension on the marketplace to enable this.
Kr
Edward

[2020-07-28 19:08] Lazys commented on #7
I see, great :) That's good idea, I'd love to help you out with testing - we're using in the company your extension on the daily basis, so we can easily verify if nothing has been broken.

Do you need our organization name or anything?

[2020-08-24 13:42] w0nders commented on #7
@edtro Hi, I also interested for testing features.
I think, in your extension lack feature for configure result board, i mean which field can display on work item

[2020-08-24 13:47] w0nders commented on #12
Do you have update for this feature?

[2020-08-24 14:52] edtro commented on #7
@w0nders Hi, indeed this is something that is on my todo list... see #12

[2020-08-24 14:58] edtro commented on #12
@w0nders Unfortunately not... I am still working at an other feature (see #7). But other priorities (at work and private) don't allow me to spend as mutch time at this new feature, as  I want to. So other features like this one will remain on the todolist for the moment. Hoping to get back at it very soon. Kr. Edward

[2020-09-22 09:45] edtro opened #23 "Base the columns values on an other (custom) picklistfield"
At the moment the columns are solely based on the field System.State.
In some cases it could be handy that you can use an other field.

It should be based on a text picklistfield (for safety reasons, do not use other system fields) like custom fields.
The check on a state change should be skipped.

Note: Not all workitem types will have this (custom) field... so this has to be checked first.

[2020-09-29 10:35] edtro opened #24 "Merge state values into one column"
Like as mentioned in the question of Daniel Stevenson:

e.g. Task State = New, Bug State = Active
Show both in a Column called New

[2020-10-29 09:10] edtro opened #25 "New feature: Use AS-OF date within the query"
When enabled the 'AS OF' date that is selected will be added to the query statement, so the actual state of that moment is displayed within the board (be aware: this will not work well together with all of the macros like @Today).

[2020-10-29 10:21] edtro commented on #7
Here is a screenshot of the preview
![image](https://user-images.githubusercontent.com/27762373/97555492-787cb080-19d8-11eb-872d-543b37469af0.png)

And used this config
[code]

[2020-10-29 10:22] edtro commented on #25
Here is a screenshot of the preview
![image](https://user-images.githubusercontent.com/27762373/97555889-fe98f700-19d8-11eb-82ab-c2be894fc85e.png)

[2020-10-31 19:19] edtro commented on #20
Is solved within v0.20305.3 that is just released.

[2020-10-31 19:19] #20 closed

[2020-10-31 19:20] edtro commented on #7
Is available as PREVIEW (with v0.20305.3 that is just released).

[2020-10-31 19:20] edtro commented on #25
Is available as PREVIEW (with v0.20305.3 that is just released).

[2020-11-03 17:59] edtro opened #26 "Bug: regarding cross-project relations/dependencies that they were not shown (not displayed as arrows)."

[2020-11-03 18:01] edtro commented on #26
Solved in v0.20308

[2020-11-03 18:01] #26 closed

[2020-11-04 10:24] edtro commented on #7
Swimlane header backgroundcolor is hardcoded and apparently optimized for the dark theme

[2020-11-06 06:18] edtro commented on #12
First screenshot:
![image](https://user-images.githubusercontent.com/27762373/98333063-3c60d580-2000-11eb-846b-e04c669e33d6.png)

[2020-11-06 06:20] edtro commented on #1
First screenshot:
![image](https://user-images.githubusercontent.com/27762373/98333206-8649bb80-2000-11eb-8e31-31720f582d20.png)

[2020-11-06 13:11] vincenormand commented on #12
Very nice ! Keep up the great job !

[2020-11-07 16:19] edtro opened #27 "New feature: add the possibility to add dependencies (successor/predecessor)"
Is it possible to add something (like drag/drop) to add dependecies (and remove them)

[2020-11-13 10:20] Lazys commented on #12
Uhh please give it to us as preview ASAP, we need the field "Team project" so much :))

[2020-11-13 12:50] Lazys opened #28 "Bug - Cannot save board view as bookmark in the browser"
Cannot save board view as bookmark in the browser.

What's related to that issue - we are also not able to share link to the board page.

For example, following link:
https://XYZ/_queries/realdolmen.EdTro-AzureDevOps-Extensions-QueryBasedBoards-Public.EdTro-AzureDevOps-Extensions-QueryBasedBoards.BoardTab/8a280e4a-c09c-41b6-bfee-b89e9d2f083a/
will open "Results" tab in the query instead of "Show a

[2020-11-13 14:26] edtro commented on #28
Hi,
I am not sure if I am able to fix this. It looks like a shortcomming of the SDK/API. I have tried some things, but it looks like that this is happening when the current page within the browser is not within the context of the teamproject that is used within the url. It looks like that the extension still has to load at that point, so I always be too late. So I am really puzzled on how to solve

[2020-11-13 14:37] Lazys commented on #28
Interesting point is that in the previous extension from your company that worked well. Maybe that will help you somehow in the investigation.

[2020-11-13 15:36] edtro commented on #28
I can see what you mean with the sample extension from Microsoft, the 'Contribution Guide'. Hmmmm. I will have to see.

[2020-11-20 15:31] edtro commented on #28
Hi,

I have tried to fix this, but unfortunately I couldn't find the rootcause of the problem. I have posted an issue here: https://github.com/microsoft/azure-devops-extension-sample/issues/58

[2020-11-21 08:29] Lazys commented on #28
Ok, thx for info :)

[2020-11-21 15:45] edtro commented on #12
Released in v0.20326 as PREVIEW

[2020-12-02 10:28] bewalterBL opened #29 ""No Data" error message for very simple Query."
We are working on premises on a  Azure DevOps Server 2020 (Version Dev18.M170.6) with the xml process template. I installed the version  0.20326.3 of Query Based Boards yesterday. Unfortunately I always get the
"No Data - Please review the query. Please note that only 'flat' and 'one-hop' queries are implemented."
error message, even for very simple queries.

An example Query I used:
Wiql: select

[2020-12-02 11:07] edtro commented on #29
Hi,

Sorry to hear that you have some issues.

First of all... make sure that you have saved your query definition.

Can you please check within your browser > development tools (F12) > console.
Are there any error messages?

There can be a couple of reasons that this message appears...
1. that actually there is no data to display (please review the query resultset)
2. that you have a created a co

[2020-12-02 11:46] bewalterBL commented on #29
Hi Edward,

Thank you so much for this quick response. That is what I call great commitment.

The query I am trying is rather easy, I saved it and it shows results. Also I did not use any configuration yet.

But actually I found something in the development console that might be related to the extension:

**index.qbb.bundle.js:1 TFS.WebApi.Exception: TF51535: Cannot find field Microsoft.VSTS.Sched

[2020-12-02 12:02] bewalterBL commented on #29
I checked our process templates. We are using the Scrum Process Template as basis. There is no field
Microsoft.VSTS.Scheduling.StoryPoints
but instead the field
Microsoft.VSTS.Scheduling.Effort

Might this cause the issue?

[2020-12-02 12:41] edtro commented on #29
Hi,

Yes this might be the problem.

This scenario is tested on an online environment... and with the PBI's I didn't have this problem. Also I have an on premise environment, that uses the scrum process template with a lot of changes... but this is still AzDO 2019. Also no problems.

I have an idea for a solution. I am committed to actual resolving this problem.

You could try to do the following

[2020-12-02 12:47] edtro commented on #29
I have already checked on a AzDO 2020. This is **the root cause** of the problem. Now I am able to resolve it :-)

[2020-12-02 12:50] bewalterBL commented on #29
So nothing left for me to check, right? Thank you very much for digging into it right away.

[2020-12-02 12:54] edtro commented on #29
Maybe it is best that you should check this, just to make certain.
Kr
Edward

[2020-12-02 13:07] bewalterBL commented on #29
Yes it is like you expected

The call with StoryPoints returns an exception:

{"$id":"1","innerException":null,"message":"TF51535: Cannot find field Microsoft.VSTS.Scheduling.StoryPoints.","typeName":"Microsoft.TeamFoundation.WorkItemTracking.Server.Metadata.WorkItemTrackingFieldDefinitionNotFoundException, Microsoft.TeamFoundation.WorkItemTracking.Server","typeKey":"WorkItemTrackingFieldDefinitio

[2020-12-02 14:25] edtro commented on #29
Ok, thanks... now I am really certain :-)

[2020-12-02 16:28] edtro commented on #29
I think that I have found a solution, but I still need some testing to do.

[2020-12-03 06:58] edtro commented on #29
@bewalterBL
Hi,
I have just released the extension, containing my fix. I am using an extra API call to determin if the fields are present within the projectcollection.

So I am calling this: GET https://dev.azure.com/{organization}/_apis/wit/fields
(Ref: https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/fields/list?view=azure-devops-rest-6.1)

Hopefully this will solve your problem.

Kr
E

[2020-12-03 08:49] bewalterBL commented on #29
Great, thank you so much. It is working!

[2020-12-03 09:39] edtro commented on #29
Ok, that is great!
Thanks for reporting this issue and giving me the detailled information that I needed to resolve this problem. Highly appreciated!

[2020-12-03 09:39] #29 closed

[2020-12-03 09:46] edtro commented on #28
I have tried creating an issue somewhere else: https://github.com/microsoft/azure-devops-extension-sdk/issues/36

[2020-12-07 09:23] bewalterBL opened #30 "New Feature: Work In Progress Limits"
Hey Edward,

it would be great, if you could introduce WIP limits similar to ones offered on the original boards. Maybe it would even be possible to have seperate WIP limits for each swimlane.
And now the killer feature: Maybe the WIP limit could be enforced in a way that if the wip limit of a column is reached, it is not allowed to drag an item to it.

Best Bernhard

[2020-12-07 09:39] edtro commented on #30
Hi Bernhard,
Yes indeed, this is something that I should add.
But however... I don't know if a WIP limit for each swimlane how this should work, I would have to look into that.

But blocking on a limit... I do not see the added value directly, because within the card you can also set the state, so there is an very easy way around that blocker. Next to that... are you sure that you want to do this?

[2020-12-07 09:48] bewalterBL commented on #30
Yes, you are right. The blocking doesn't make sense when there is such an easy workaround. It just came to my mind because at some time our numbers were constantly red :-).

But even the wip limits as they are in the standard boards would be a great benefit.

Thank you so much for the quick reply.
Best Bernhard

[2020-12-07 19:49] schiltzj commented on #24
Hi - if we have custom state values would there be a way to add them to a given column?
Example, we have analysis, dev, and testing states such as "Gathering Requirements", "Development in Progress", "Testing In Progress", etc.

[2020-12-08 06:37] edtro commented on #24
@schiltzj

Hi, Thank you for responding.... but I am little bit confused about why you are responding on an item called 'Merge state values into one column'.

So to clearify your question:
- Do you want to make certain that your custom states will show up as seperate columns on the board? Yes, I am checking the work item types to see what states are setup and will show them automatically. You can

[2020-12-08 14:03] schiltzj commented on #24
Yes; thank you. It was primarily to understand if custom values would be included. Thank you for the reference to the config.md as well.

[2020-12-10 06:25] merleschlottmann commented on #30
Hi Edward,
I really like your QuerybasedBoards as well and would really much appreciate a sort of numbering as well so that we can keep track of the WIP items. It would not need to be a strong limit, as you say that might be even annoying.
But I could image different solutions:
-  only count the number of items in a column and we know about our internal limit
- similar to the general backlog board

[2020-12-17 07:08] edtro commented on #28
@Lazys
Hi,
I have tried to report this bug at Microsoft, but I am not getting any response.
I will be closing this issue however, because I cannot do anything about it. I will be monitoring the issues that I have created, if there is any response, I will reopen this one.

Thanks for reporting this issue however. Hopefully at some point we will get a solution.
Kr
Edward

[2020-12-17 07:08] #28 closed

[2020-12-17 07:11] Lazys commented on #28
Sure. I'm not happy about it, but I entirely understand it :)

[2020-12-18 14:12] jannikajbrink commented on #1
I'm not sure if this is the right place to leave comments about a specific feature but I did not find the suggested Q and A section.
I think this a great feature and it's a deal breaker to use the extension. I have some issues using the feature with my "one-hop" query, displaying user storys and tasks though:
1. The filter "Assigned To" only contains users assigned to the user stories, not the tas

[2020-12-18 15:17] edtro commented on #1
Hi @jannikajbrink
Thanks for replying... and yes you are in the correct place :-)

I will try to answer all of your questions, as good as I can...

This should not be the case. I think you have stumbled upon a real bug here.... and I think I already have found the cause of it. I am in the middle of rounding up a release, so I try to include the solution for this.

This indeed is the designed behav

[2020-12-18 16:56] edtro commented on #30
Hi, I am working on it... here is a preview screenshot:
![image](https://user-images.githubusercontent.com/27762373/102640051-319a7400-415a-11eb-8bc8-cef1f337b344.png)

You will be able to setup the wiplimits within the config json.

[2020-12-18 17:04] edtro commented on #22
Hi,
I am working on this. Here is a screenshot of a preview:
![image](https://user-images.githubusercontent.com/27762373/102640321-92c24780-415a-11eb-8a57-7994a5202cd0.png)

Here I have setup the 'active' column to a width of 2 cards. It will be possible to setup the width up to 5 cards next to each other. This have to be done within the config json, so this means that this will not be done dynami

[2020-12-18 17:06] cliveytech commented on #22
Excellent, thanks Edward. I'll have a look over Christmas..

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Edward <notifications@github.com>
Sent: Friday, December 18, 2020 5:04:54 PM
To: edtro/EdTro.AzureDevOps.Extensions.querybasedboards <EdTro.AzureDevOps.Extensions.querybasedboards@noreply.github.com>
Cc: cliveytech <clivevthompson@hotmail.com>; Author

[2020-12-20 08:44] edtro commented on #1
Hi,

The first item is resolved and will be delivered within the next release.

For the third item, I was able to squeeze in a last minute minor change to a new feature I am introducing... here is a screenshot:
![image](https://user-images.githubusercontent.com/27762373/102709114-96171980-42a7-11eb-8e89-fea899a4509f.png)

With this new filteroption, you are now able to combine it with the existing

[2020-12-21 09:21] bewalterBL commented on #30
That's great to hear! Thank you for approaching this so quickly.

Would it also be possible to have inverse WIP limits?  So that the numbers turn red when the number of items falls below the limit. I am thinking about Scrumban, where the items in a column dropping below a certain number would trigger a planning meeting. But it would be necessary to have this adjustable per column.

I whish you hap

[2020-12-21 09:55] edtro commented on #30
Hi Bernhard,

To be honest, I never heard of this approach before.... but I will take a look at it. But I am in the middle of a new release at the moment and I am not including any new things for this release. Next I will be picking up a completely other item... and this will be a challenging one regarding displaying everything correctly... thats all I want to say about this item, at this time :-)

[2020-12-21 09:56] edtro commented on #30
@bewalterBL
btw. I also wish you happy holidays & stay safe!

[2020-12-27 12:52] edtro commented on #30
I am happy to inform you, that I have released this new feature. Because it is a part of setting up the columns within the config... this will be in PREVIEW

[2020-12-27 12:53] edtro commented on #22
I am happy to inform you, that I have released this new feature. Because it is a part of setting up the columns within the config... this will be in PREVIEW

[2020-12-27 12:53] #22 closed

[2020-12-27 12:54] #25 closed

[2020-12-27 12:55] #12 closed

[2020-12-27 12:55] #7 closed

[2020-12-27 12:55] #1 closed

[2020-12-28 18:17] edtro commented on #30
whoops closed this issue... while there was still a suggestion open to create 'inverse'  wip limits for a 'scrumban' approach.

[2021-01-04 09:03] bewalterBL commented on #30
Thank you very much for implementing this so quickly!!! I tried it out and it works perfectly.

[2021-01-04 12:43] merleschlottmann commented on #30
Thanks also from my side. That is super helpful extension.

From: bewalterBL [mailto:notifications@github.com]
Sent: Monday, January 4, 2021 10:04 AM
To: edtro/EdTro.AzureDevOps.Extensions.querybasedboards <EdTro.AzureDevOps.Extensions.querybasedboards@noreply.github.com>
Cc: Merle Schlottmann <merle.schlottmann@brainlab.com>; Comment <comment@noreply.github.com>
Subject: Re: [edtro/EdTro.AzureDev

[2021-01-05 14:19] edtro opened #31 "New feature: Configure default filter selections"
See the question:

Hi,
The "Parent has children" feature was certainly useful for me when filtering tasks. I have customized the configuration to always display the filtering options. I don't understand if it is possible to let the option "Yes" be default though. If so, can you provide me with an example?
Kind regards
Janni
By Janni Kajbrink

[2021-01-06 10:15] Dilergore opened #32 "New Feature: Parent on the work item card"
Hi,

While it is true it is possible to use the fields to configure the parent it will only display as non-clickable item number.

I would like this to work as a link with the proper item name like on the built-in board:
![image](https://user-images.githubusercontent.com/14315890/103757040-7c4c3500-5010-11eb-8f7a-f894a455e0dc.png)

Thanks!

[2021-01-06 10:20] Dilergore opened #33 "New Feature: Do not show items collapsible without subtasks"
Hi,

Currently with a two-level query all the parent level tasks are showing as collapsible:

![image](https://user-images.githubusercontent.com/14315890/103757345-f2509c00-5010-11eb-8b66-55e5f86cf4fd.png)

It would be good to have such tasks just on the board in the correct column based on their states like:
![image](https://user-images.githubusercontent.com/14315890/103757523-2cba3900-5011-11eb-

[2021-01-06 10:29] Dilergore opened #34 "New Feature: User Filtering to only show relevant"
Hi,

Currently if you filter a board with a two level query to a certain user it will display all the first level categories no matter the user does not have it assigned:
![image](https://user-images.githubusercontent.com/14315890/103758447-82dbac00-5012-11eb-829a-a96319322a42.png)

It would be good to show only the relevant categories. It would only make sense to display them if the user is havin

[2021-01-06 12:00] edtro commented on #33
Hi @Dilergore,
Thank you for your feedback. Highly appreciated!
As you are requesting here, is not the way it is designed... it should work like the taskboard, so you will have stories as the parent level and the task as the child level (you can also use features with stories etc).

So unfortunately, I have no plans to change this.

Kr
Edward

[2021-01-06 12:00] #33 closed

[2021-01-06 12:02] edtro commented on #32
Hi @Dilergore,
This is a great point. Didn't think of it... so I will be looking into this.

[2021-01-06 12:08] edtro commented on #34
Hi @Dilergore ,
You can achieve by also using the 'parent has children' filter when you are using the filter on the assigned to. Just select 'yes' within this filter option.

Is this helpfull?

I think I will look into setting the 'Parent has children' filter automatically when you set the 'Assigned To' filter.
But I will have to investigate this further.

Kr
Edward

[2021-01-06 13:08] Dilergore commented on #34
Hey,

More or less. Let me show you what I'm trying to put together using this and the other issue you closed (#33 ). We were using Jira so far where we had Epics, Stories, Issues, Spikes, Sub-Tasks. In hierarchy Issues/Spikes could not contain any subtasks; that was unique to Stories.

We had a single board where we were able to move all the tasks on all levels like this:
![image](https://user-im

[2021-01-06 13:24] edtro commented on #32
For the record... it is just showing this:
![image](https://user-images.githubusercontent.com/27762373/103773175-f1c4ff00-502a-11eb-8372-669fcf046d9e.png)

[2021-01-06 14:25] edtro commented on #34
Hi @Dilergore ,
I understand what you trying to do.
But unfortunately this is not possible within my extension.

However it is very interesting, I am not planning to implement something like this within the near future.
Am just alone and doing this within my free spare time.

Kr
Edward

[2021-01-06 15:01] Dilergore commented on #34
@edtro - Thank You for your response. My biggest problem is that it happens regularly that a story is being worked on by multiple people in the team. Currently there is no proper view to filter to a certain person and see the subtasks assigned unless the user is having the story assigned...

The problem might be how we organize our daily stand-ups: we usually go person by person and not task by ta

[2021-01-06 15:01] #34 closed

[2021-01-07 06:29] Dilergore commented on #34
So just as a feedback and if someone tries to do something similar:

I was able to more or less fulfill my requirements by doing the following changes:

I changed the 'Spike' and the 'Issue' to a lower level (from Requirement to the Iteration backlog):
![image](https://user-images.githubusercontent.com/14315890/103857696-3f874900-50b7-11eb-802d-9fce4705840e.png)

With this change my Taskboard look

[2021-01-07 08:02] edtro commented on #34
Nice one!

Just noticed that you are using the Scrum template with the PBI's but you have disabled this and created the custom 'Stories'. The Agile template has got the 'User Stories' by default.

Kr
Edward

[2021-01-07 10:24] bewalterBL opened #35 "BUG: Line breaks not working properly for long strings without spaces in title"
When the title contains long strings without spaces the wrapping of the text seems not to work properly for the board cards. As can be seen on the screenshots the text exceeds the boarders of the card.

![image](https://user-images.githubusercontent.com/75365667/103880879-feecf700-50d9-11eb-9ddc-93f4af437d9d.png)
![image](https://user-images.githubusercontent.com/75365667/103881271-833f7a00-50da-1

[2021-01-07 18:24] edtro commented on #35
Hi @bewalterBL ,
I will look into it. Thanks for reporting this! I did not notice it before.
Kr
Edward

[2021-01-08 09:02] bewalterBL opened #36 "With some zoom levels the "Arrow control" to collapse the most right column is overlaid by the options button."
With some zoom levels the "Arrow control" to collapse the most right column is overlaid by the options button. The Screenshot below is taken with a zoom level of 100%. I tested it with Edge 87.0.664.75 and Vivaldi 3.5.2115.87 (based on Chromium 87.0.4280.142).
When the filters are activated it is no problem, because the Options button is then shown on a separate row with the filters. Maybe it woul

[2021-01-08 09:04] bewalterBL commented on #35
Thank you for the quick response. I am glad to help to make it an even better extension.
Best Bernhard

[2021-01-08 09:11] edtro commented on #36
Hi @bewalterBL
Yes, this is a known limitation. Unfortunately I cannot find any way to insert these icons within the toolbar of Azure DevOps itself (just above my icons). And this problem is now more noticable, because I have added wiplimits like in the standard boards... so I had to adjust the position of the chevron button accordingly.

So I have provided a couple of solutions:
- You can always

[2021-01-08 09:18] bewalterBL commented on #36
Hey,
yes I already configured it to always show the filters. That's perfectly fine for me.
Didn't notice the scrolling to the right solution yet :-). But when you know it is also a good solution.

Thanks for thinking that through.
Best
Bernhard

[2021-01-08 09:56] edtro commented on #36
You're welcome :-)
Kr
Edward

[2021-01-08 09:56] #36 closed

[2021-01-15 14:17] izipuho opened #37 "BUG. Custom additional fields on WI card. Board crashes on some fields."
Hi!
I think it's better to discuss here, rather then at VS Marketplace.
As I published as VSM I tried to add custom field from another extension (our own development):
[code]
it has same type as AssignedTo. And it crashed the board:
![Empty board](https://user-images.githubusercontent.com/58221294/104736949-b32ef300-5754-11eb-85cb-c6bc723bbcbb.png)

But when I add string field from same extension:

[2021-01-16 10:34] edtro commented on #37
Hi @izipuho

Unfortunately not all types of fields are supported. These types requires more styling... so I will have to implement those types at some point (but I do not know when). But I have documented this limitation in the [config.md](https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/issues/37)... just look at the last sections (completely at the bottom of the document)

[2021-01-17 07:02] izipuho commented on #37
Oh! That's what you mean by Identity field! Sorry. :-)
I'll try to find another Identity field at my project to test.
On the second screenshot you can see Contact as text field. It also contains a name. It's pretty ugly but it still works. Maybe you can treat Identity as text at first?

[2021-01-17 08:55] edtro commented on #37
I am implementing extra styling for the field 'System.Project' (and some extra filtering options regarding this field... because I am working at a customer that is really using the multi-level setup of epic/feature/story). So it would not be that hard to include this type of field. So stay tuned.

Unfortunately I cannot give any timetables...  it is sometimes very hard to find some spare time.

Kr

[2021-02-05 21:32] Riziv-Johan opened #38 "unable to import configuration for queries"
I'm trying to import configuration for my queries, but the configuration does not get imported. For the global config on the other hand, I can see the imported config.
Also, when I choose "Show all queries" in the extensions configuration tab, the queries do not appear.

[2021-02-06 08:48] edtro commented on #38
Hi Johan,
Thanks for reaching out! Highly appreciated!
I will be looking into this as soon as I can.

But I will be needing some extra information (like what is the output within the dev console of the browser).
Because we know eachother in real life, you can sent me this to my email adres :-)

I will contact you.

Kr
Edward

[2021-02-11 09:53] JamborJan opened #39 "feature request: query based boards with iterations as columns"
First of all thank you for this awesome plugin, easily one of the best plugins available for Azure DevOps.

I have a question, or rather feature request: is there a way of having the sprints / iterations as columns (iteration path either top-level only = iteration or lowest level = sprint)?

Let me know if I'm unclear here or if I can help implementing this.

PS: the new Plans V2.0 of Azure DevOps

[2021-02-11 10:09] edtro commented on #39
@JamborJan
Thank you for your feedback. Highly appreciated.
I am not sure if someone else has already requested this feature. But at the moment I have no plans to implement this. I have a lot of ideas in my backlog, hoping to get to this.

But I will keep this issue... because I have noticed that is indeed a great addition.
Kr
Edward

[2021-02-11 10:20] JamborJan commented on #39
Awesome quick response :-)

If you like I can also try to contribute to your plugin with that feature. I did not yet develop a plugin on my own but I'm very eger to learn that and help you. Just if it is a thing you would like / agree with.

[2021-02-11 10:29] edtro commented on #39
I was just reading through my emails :-)

Ehmmm... unfortunately I am not able to make the source public, because of IP ownership and so on.
But I really appreciate the offer.

Maybe I will start a private preview group or something like that, I am not sure on how I will be managing this though.

Kr
Edward

[2021-02-13 08:03] edtro commented on #38
@Riziv-Johan Hi Johan, I have released a new version (release 0.21044) that should fix this problem. Could you please try. Just let me know.
Kr
Edward

[2021-02-15 06:57] JamborJan opened #40 "question: get all my features + stories from all AND all my stories connected to other features"
There is one thing, I stumbled over while setting up things with qbb. I know it's not directly related to qbb, it0s rather a thing how queries work in Azure DevOps. But maybe you know a better way round this thats why I dre to post this question here too.

My use case is:
- I have different projects set up
- epics and features are maintained in a global planning project
- stories life in the produ

[2021-02-15 08:51] edtro commented on #40
Dear @JamborJan

The two queries are actually really alike... and I understand that your want to add condititions just on the Feature level, so I think that you should be a little bit creative using the 'OR' clauses (end nesting them). I am not aware of if the UNION clause is available or will be. But in my experience, you generally use this clause when you are querying multiple tables and you wan

[2021-02-15 08:51] #40 closed

[2021-02-15 08:54] edtro commented on #40
Btw: you can take a look at a extension, that is specialized in building WIQL queries, see:   https://marketplace.visualstudio.com/items?itemName=ottostreifel.wiql-editor

[2021-02-19 16:07] JamborJan opened #41 "cannot move work item to doing / done columns"
Not sure if I got this wrong. I have this json config for my board as shown at the bottom. My question: why am I not able to drag n drop in one of the doing / done columns? In the picture below I try to drop teh item in teh analysis doing column and this didn't work.

<img width="781" alt="Bildschirmfoto 2021-02-19 um 16 58 11" src="https://user-images.githubusercontent.com/7508960/108530790-461ff

[2021-02-19 19:09] edtro commented on #41
Dear @JamborJan
For the 'System.BoardColumnDone' the reason is simple. This is a system field and we are not allowed to modify this field while using the api or directly (I am investigating a workaround at the moment).

But all your questions can  be answered by this quote (from the documentation file config.md):

So the System.IterationPath is not implemented.

Kr
Edward

[2021-02-19 20:00] JamborJan commented on #41
I apologise for this rtfm-question. Sorry.

[2021-02-20 11:30] JamborJan commented on #41
dear @edtro, I fixed most of this by implementing a custom boolean value to use the doing / done parts of the column. But on task boards I still have the issue, that the done part of the collumn is not shown. When I switch the boolean to done=true the work item simply disappears on the board. The strange thing is, the same column settings work on a single type board where I only have epics feature

[2021-02-20 11:55] edtro commented on #41
Ok, I will look into this (regarding the taskboard).

[2021-02-25 17:18] edtro commented on #41
@JamborJan Hi, I think I have found & resolved the problem (regarding the doing/done within the taskboard, that it wouldnt show up). Now I have to test it a little further. Next to this... I have a lot of new stuff ready for release. But if everything goes well, as I hope it will, I will be able to release this soon.
Kr
Edward

[2021-02-26 12:55] #38 closed

[2021-02-26 13:02] edtro commented on #31
This will be implemented as follows. When you are filtering on eg AssignedTo, the field "Paren has children" will get the value "Yes" automatically.

[2021-02-28 08:22] edtro commented on #41
Solved in 0.21059

[2021-02-28 08:22] #41 closed

[2021-02-28 08:23] edtro commented on #35
Solved in 0.21059

[2021-02-28 08:23] #35 closed

[2021-02-28 08:23] edtro commented on #32
Solved in 0.21059

[2021-02-28 08:23] #32 closed

[2021-02-28 08:23] edtro commented on #31
Solved in 0.21059

[2021-02-28 08:23] #31 closed

[2021-03-02 12:05] harleyquinn39 opened #42 "Possibility to create a Backlog based on Query"
I really like this extension and its functionality of visualizing dependencies and searching across projects. Do you think it will be (maybe already is) a possibility to create a backlog from the query?

I would like to use "Add a rollup column" for a backlog based on the query created from items from multiple projects.

[2021-03-02 15:15] edtro commented on #42
@harleyquinn39
Dear,
Yes, this is a great idea. If someone would build an extension with this feature, I would probably use it myself.
However this is not within the scope of this extension.
Kr
Edward

[2021-03-02 15:15] #42 closed

[2021-03-05 09:28] edtro opened #43 "Bug: filter is reset after opening/closing a workitem"
As reported on the marketpace, by Janni Kajbrink:

Hi, I really like the feature to filter the task board for different values. But when I have selected a filter and then open for example a User Story and then closes it, the selected filter is cleared.  To reproduce
1. Select a user in the Assigned To filter
2. Open a user story
3. Close the user story
4. The filter is cleared and there is no long

[2021-03-06 13:02] JamborJan opened #44 "Feature Request: add all workitems to a swimlane under a certain area path"
**Current situation**
I'm using swimmlane definitions like shown in the example at the bottom. This works quite nice. Workitems which have these area paths set can be moved through the swimlanes. It's clear that it is not possible to change the area path via drag n drop, which is also a good behavior to not accidently change the area path.

I have area paths with deeper areas for example Platform\

[2021-03-06 13:56] edtro commented on #44
Hi @JamborJan
Great idea, this would be a great addition to this extension.
I will be looking into this. But I cannot give you an ETA... I am currently looking into other improvements.
Kr
Edward

[2021-03-06 14:26] JamborJan commented on #44
Dear @edtro, much appreciated that you are considering my request. I have no expectation of instant delivery or anything like that. Thanks!

[2021-03-07 10:56] edtro commented on #43
Resolved in 0.21066

[2021-03-07 10:56] #43 closed

[2021-03-09 02:55] jdshkolnik commented on #43
I'm on v0.21067.4 and it's still messed up. The filter disappears. Furthermore, none of the state is remembered at all. I can shift to results or editor, come back, and all the taskboard settings have been reset (filter hidden, etc.)

[2021-03-09 06:51] edtro commented on #43
Hi @jdshkolnik
With the latest release it should be resolved completely (I had stated within the release notes of the previous release that I was still working on this issue).

But when I read your comments, I think something else is also causing some misunderstandings.

The 'quick filter' is not enabled by default. You can do this within the advanced configurations (and when you do this within th

[2021-03-09 14:05] jdshkolnik commented on #43
@edtro, how did you get to that screen?

[2021-03-09 14:23] edtro commented on #43
Within your projectsettings... scroll down to the bottom, to the sections Extensions:
![image](https://user-images.githubusercontent.com/27762373/110484880-5e23b380-80eb-11eb-9824-8de4b51079b3.png)

Or browse to the following url:
{your_org_url/{your_project}/_settings/realdolmen.EdTro-AzureDevOps-Extensions-QueryBasedBoards-Public.EdTro-AzureDevOps-Extensions-QueryBasedBoards.ConfigTab

[2021-03-09 15:28] jdshkolnik commented on #43
I plugged the JSON in but no change for me. I also noticed that I get an error flashing quickly when a taskboard is loading (with or without the JSON):

![image](https://user-images.githubusercontent.com/2047520/110495042-218f9200-80c2-11eb-89bb-dd33ff548f83.png)

[2021-03-09 17:49] edtro commented on #43
Dear @jdshkolnik
I am really puzzled by the fact that the menu item is not showing up within the project settings. Even the extension 'Contribution Guide' from Microsoft (a very usefull tool, when you are building extensions) is not showing up in all of the online organizations I have access to. Sometimes there are differences between teamprojects. I think that this is a problem at the end of Micr

[2021-03-11 06:55] edtro commented on #43
Dear @jdshkolnik
Thank you for your feedback, great to know that your problem with the queries are solved. I couldn't reproduce this at my end. Hopefully this is a one time only incident... but I will be on the watch, to see if it arises again somewhere.

Regarding the project settings, like I said: I am really puzzled. It is also happening for other extensions, so it is a Microsoft problem, but p

[2021-03-12 15:34] vincenormand opened #45 "Feature request - Board columns based on Projects board columns"
The board columns are actually based on de System.State field, which is not how it works in Azure DevOps. Board columns are very useful to follow de developpement progress (for example : Analysis, Approval pending, Development, Revision, QA, etc.)

I know every project has to have the same configuration of Board columns for it to work. But would it be possible to have a look at that feature ? It w

[2021-03-12 17:47] edtro commented on #45
Dear @vincenormand,
Thank you for your feedback.

Just to explain some things...

The core concept of this extension is: turning the resultset of a wiql query into a board... and doing this without needing any additional setup. If Azure Boards itself would allow editing the wiql query it is based upon, it would put my extension out of business.

While executing the query you have the advantage to

[2021-03-12 19:11] vincenormand commented on #45
Hi Edward,

I understand the limitations and everything. But I am not asking it to be the same as the Board from MS, neither talking about a picklist or a hidden field...

Just so you understand better, here is an example of the Board that we have in every Azure DevOps Project :
![image](https://user-images.githubusercontent.com/9322382/110986117-42165100-833b-11eb-854b-984b6bd86047.png)

Our Boar

[2021-03-12 19:45] edtro commented on #45
Dear @vincenormand,

The field 'System.BoardColumn' is not editable, just like the 'System.BoardDone' field.

For each team/board seperate invisible 'WEF_' fields are created, that are edited by the system (there is an API where you can get the information regarding this, but you will need  a teamcontext as a start, but I do not know if the SDK has implemented the endpoint for this API). A rollup

[2021-03-12 19:45] #45 closed

[2021-03-18 18:02] softsolutionsau opened #46 "Show as Taskboard button not displaying for some users"
Hi,

We installed this (amazing, by the way) plug in a few days ago. I'm seeing strange issue where some users are seeing the above button but others are not. They are both in the same organization and project. Identical permissions and licensing.

I've asked those that cannot see this button to restart/refresh/clear cache. Both Chrome and Edge.

Any guidance very much appreciated :)

Shai

[2021-03-18 18:42] edtro commented on #46
@softsolutionsau  Dear Shai,
This is not the expected behaviour.

A button should always been shown for 'Flat' or 'One-Hop' queries. When you select the 'Tree' option the button is hidden, because this type is not implemented. That is the only situation that I can think of that could be an issue. But if the same query can be used by an other user, and displayed as a board... well we have to look a

[2021-03-18 18:55] edtro commented on #46
One thing you can try is the following:
- First make sure within the browser session, you have opened a query with my extension succesfully and displayed it as a board. This caches the extensions sources and will allow you to use a url directly. (btw: unfortunately the Azure DevOps Framework / SDK does not allow when it is not cached, it seems.... I have reported an issue at Microsoft but they are

[2021-03-20 07:10] edtro commented on #46
@softsolutionsau
Dear Shai,
I am hoping to get some more information, because I am really committed to get this problem solved.

Also I have an other suggestion you could try: try installing this extension: https://marketplace.visualstudio.com/items?itemName=ms-samples.samples-contributions-guide and see if all of the users are getting the new tab called 'WebContext'.

This way we can rule out if

[2021-03-20 07:18] edtro commented on #46
Next to this, there is something you could check.

Someone else has mentioned (within this issue: https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/issues/45 ), that queries within a subfolder (possibly with extra permissions setup) didn't run well. He had solved this... but I wasn't able to reproduce this problem. So is this query that is having this problem, within a subfold

[2021-03-29 06:23] edtro commented on #46
Dear @softsolutionsau,
The fact remains that I am very committed to resolve this problem, but however without receiving any response or (detailled) input, I am not able to reproduce and resolve this problem.

So this is a nice reminder... so can you please respond.
Kr
Edward

[2021-03-29 15:24] JamborJan opened #47 "Bug: queries not shown in settings"
I've created a couple of shared queris in a project and none of them is showing up in the project settings to allow configuration. I guess there is something screwed up but I don't know exactly where to start. I've a couple of projects where I've done similar setups and it's working quite well.

Special in the affected project: it has been renamed.

Other inputs or hints: in the development consol

[2021-03-30 10:18] edtro commented on #47
Hi @JamborJan,
It looks like that indeed the renaming of the project is causing the problem.

I have already checked my code... so I know this is case.

I will try to explain:
- First of all, I am using the extension data storage, for the old VSS see the ref:  https://docs.microsoft.com/en-us/azure/devops/extend/develop/data-storage?view=azure-devops
- So you also notice that these documents are s

[2021-03-31 07:40] JamborJan commented on #47
Short question: is there a way I can manually fix this for the one project affected in my case? E.g. can I manually update the document to have the right project name?

[2021-03-31 10:11] edtro commented on #47
Hi @JamborJan
Well it is possible, but it won't be easy. At this moment I do not have a lot of spare time.  So I am only able to give you a couple of pointers.

I have documented a way to import configurations, see: https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/blob/master/public/imports.md

I have put some effort into it to document a couple of Microsoft REST api methods.

[2021-04-01 09:59] JamborJan commented on #47
Dear @edtro, I appreaciate your help even though you have no time. So please don't take this not as request for immediate action. Only feedback.

I was able to get started with the import documentation you gave. Unfortunately the error you described occurs not only the first time but always. So I'm stuck at this point right now. I'll dig deeper if possible.

Also the mentioned API Version `?api-ve

[2021-04-01 11:37] edtro commented on #47
Did you try using 'querybasedboards-configuration' instead of the 'querybasedboards-import' collection?
Kr
Edward

[2021-04-01 14:24] JamborJan commented on #47
Oh, yes you wrote I have to change that. with that change it's possible to get the object data and by appending the object id to the url I can also receive the data from exact one object.

I can once again confirm that in that data the old project name is written.

I must find a way now to update that. The first try to do it with a PATCH request like it's done for example for work item updates via

[2021-04-01 16:39] edtro commented on #47
Yes, I think you have to put the documentid within the url (at the end).
I didn't had to try this myself as of yet.
Kr
Edward

[2021-04-01 19:43] JamborJan commented on #47
I guess I found a efficent solution to that: rather than updateting the document, I'm deleting it and create it fresh from scratch via UI. At least in a test scenario that work quite well. I'll check that in detail later. But when this is tourning out to be a solution I guess this issue is not as hot anymore.

For anybody else reading this: here are the on-prem and service version of the API Reque

[2021-04-02 08:30] edtro commented on #47
Hi @JamborJan
Great to hear, that you have managed to find a workaround.
This is great input!
Thanks, highly appreciated.

Kr
Edward

[2021-04-06 06:55] JamborJan commented on #47
I wanted to confirm, that everything worked as expected also in my production environments. I deleted the configuration documents linked to the query IDs and the wrong old project name as described above and created the new ones manually in the settings hub again.

[2021-04-06 07:30] edtro commented on #47
Great!

I will be investigating this, so this will not happen again. But it will not be easy, because it means that I will have to use the projectId instead of the projectName, but the configs should work correctly with the old data.

Kr
Edward

[2021-04-23 05:15] edtro commented on #46
Dear @softsolutionsau ,
Because I have not received any feedback, I am forced to close this issue without resolving it.
When you provide any feedback however, I will reopen it.
Kr
Edward

[2021-04-23 05:15] #46 closed

[2021-05-21 10:54] dominikbohm opened #48 "Feature request: add custom tab on Sprints hub"
Hello,

it would by very useful, if it would be possilbe to setup a Query based board custom tab on the Sprints hub (similarly to the Backlog/Board hub). Thank you.

[2021-05-21 11:34] edtro commented on #48
Hi @dominikbohm,

Agreed, this would be a nice addition. But I will have to investigate how mutch effort it will cost to do this. On the backlog/board hub it was relatively easy... but I had to implement the option to switch between multiple teamss/levels. I guess that something similar will be needed here. Next to that I will have to find some time, to do this in.

At the moment I am working on s

[2021-06-18 12:42] cliveytech opened #49 "Doing Done column doesn't work"
Hi @edtro,
Thanks for implementing this excellent extension.  I've got swimlanes and columns working, but the Doing/Done column doesn't work for me.  If I use the api to query one of our Work Items I can see the Done Column is set as:

"System.BoardColumn":"In Progress","System.BoardColumnDone":true

So I implemented the column as:

 {
         "name":"In Progress",
         "title":"In Progress/A

[2021-06-19 07:17] edtro commented on #49
@cliveytech Dear Clive,
Please take a look at this thread: https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/issues/41
The main issue is that the 'System.BoardColumnDone' field is not editable by the api, this is a system field.

You have got two options:
- Create a new Yes/No field and use this within the qbb boards .as the 'done-field' (but this will not reflect within the s

[2021-06-19 07:18] #49 closed

[2021-07-02 18:37] RansomVO opened #50 "Feature Request: Add ability to set custom Board Columns"
We have a project that is just for doing an extensive platform review. As such, we have:
- renamed a couple of columns _(which show up with the State instead of Column name)_
- Made slight changes to the order of the columns. _(but shows up in original order.)_

It would be really nice to be able to get Show as Board to display like our board.

[2021-07-02 19:13] RansomVO commented on #50
Never mind, just figured out how to do the configuration.
Awesome! :)

[2021-07-02 19:13] #50 closed

[2021-07-03 09:19] edtro commented on #50
Great to hear!
Kr
Edward

[2021-08-11 09:26] edtro opened #51 "Feature request: extra options for style rules"
On the YouTube channel, the following question was asked:

[2021-09-10 14:31] AkrupkaIT opened #52 "Add support for "One hop query" relationships aside from parent-child"
My company uses PBI's for deployment tracking as well as specific code tasks (we then use "Tasks" for the different aspects of that given PBI. e.g. Dev, San etc...). I'd really like to have taskboard that would be focused on the releases but where we could see the PBI's for each release. See image for my current query. Would it be possible to have the taskboard display the query results as if it w

[2021-09-12 09:02] edtro commented on #52
Dear @AkrupkaIT

Thank you for your feedback, highly appreciated.

One of the main design aspects of this extensions (and I think of any board) is that an Work Item should only appear once on the board, so the position is unique.

If I would allow the setup as you have mentioned, it would be possible that an workitem could pop up on different places within the board. Within the resultset of the qu

[2021-12-07 15:18] jamyzhang opened #53 "The DateTime Field is displayed wrong when the date is a future date"
Hi,

Thank you for your great plugin. I want to report a bug that I use the configration to display a future datetime like below:

{
   "fields":[
      {
         "name":"Microsoft.VSTS.Scheduling.TargetDate",
         "title":"TargetDate"
      },
      {
         "name":"Custom.RequestFrom",
         "title":"Requesting Team"
      }
   ]
}

The value of the field "TargetDate" is the future dat

[2021-12-08 07:00] edtro commented on #53
Dear @jamyzhang,
Thank you very much for your feedback. Highly appreciated!

I have investigated this and indeed within the 'Ago' component of the Azure DevOps UI library, future dates are displayed as 'Just now'. See: https://developer.microsoft.com/en-us/azure-devops/components/time

I will fix this. Keep you posted.

Kr
Edward

[2021-12-08 16:27] jamyzhang commented on #53
May I know when do you release this fix. Our company is using your plugin and we want this a little urgently.

[2021-12-08 16:33] jamyzhang opened #54 "Feature request: adding extra fields support like Identity on the workitem cards"
Hello,

Thank you for the quick response to my bug report. When I using your plugin, we want to add the Created by field into the workitem card though the configration you provided. However, the Created by is a Identity type field which does not supported. Would you like to add the support for this field? Much appreciations on this.

Additionally, It is much better that Assignee on the card could

[2021-12-16 06:00] ErkanYardibi commented on #53
Hello. We are also waiting for this fix :-)

Thanks!

[2021-12-16 06:53] edtro commented on #54
Dear,
Someone has already mentioned it, I will take it into account. Can't give any guarantees/timetables though.
Kr
Edward

[2021-12-16 07:00] edtro commented on #53
Dear,
As I have said... I am using the Ago component from the Azure DevOps UI... it is actually a bug within that component, but you have nowhere to report it (and I think it is abandoned).
I am looking at a solution using momentjs, to replace this.
But Microsoft is making my life as an extension developer very difficult currently, see my replies on their blogpost anouncing an updated interface of

[2021-12-16 17:20] edtro commented on #53
Dear @jamyzhang  and @ErkanYardibi
I just released a new version to the marketplace. Please try it out! It should have fixed te problem
Kr
Edward

[2021-12-16 21:15] ErkanYardibi commented on #53
Dear Mr.Edward,
Thank you very much! I tried and all problems were solved with your magic touch. Thank you so much!

[2021-12-17 07:02] edtro commented on #53
Your welcome!

[2021-12-17 07:02] #53 closed

[2021-12-17 07:04] edtro opened #55 "BUG in NEW UI: It created tabs called "Boards" on the Boards view, with no way to remove or rename these."
Currently Microsoft is working on the 'Azure Boards Ux Modernization' and this is currently in public preview (see: https://devblogs.microsoft.com/devops/azure-boards-ux-modernization-public-preview/). I have noticed a couple of bugs within this new preview feature, that has effect on the AzDo extension framework/libraries, that causes this extension not to work as it should. I have already report

[2021-12-17 07:06] edtro opened #56 "BUG in NEW UI: When you open a workitem from the board, you cannot close it"
Currently Microsoft is working on the 'Azure Boards Ux Modernization' and this is currently in public preview (see: https://devblogs.microsoft.com/devops/azure-boards-ux-modernization-public-preview/). I have noticed a couple of bugs within this new preview feature, that has effect on the AzDo extension framework/libraries, that causes this extension not to work as it should. I have already report

[2022-01-07 09:01] SeeDoubleYou opened #57 "Settings are not persistent"
When I show a query as a board I can set settings like "how filter bar" and "show team project". I'd expect these settings to persist, but they do not, I have to set these each time I view the query as a board (also in the event of a reload). It would be great to be able to store these settings.

[2022-01-07 13:09] edtro commented on #57
Dear,

Not so long ago I have answered the same question within the Q&A section of the marketplace...

With great pleasure I can confirm that I have implemented an option to do this. Please take a look at the documentation regarding using the 'advanced' configurations, see: https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/blob/master/public/config.md
Take a look at the mentio

[2022-01-07 13:09] #57 closed

[2022-01-12 09:00] SeeDoubleYou commented on #57
awesome, thanks!

[2022-01-21 11:28] ErkanYardibi opened #58 "Failed to parse configuration: 70969eee-bf8f-48d6-a84f-e6d5c732e57a"
Dear Edtro,

Thanks for your effort and solution you provided to us. I have been using the Queryboards because bringing benefits to show the boards in right order of query and style.

The issue I encountered is, when I setup the configuration for queryboards in settings, the filter I wrote properly is saved but "Failed to parse configuration: xxxx" warning is appeared. And the filter is not workin

[2022-01-21 11:54] edtro commented on #58
Dear,
When I try to parse your JSON file with https://jsonformatter.curiousconcept.com/#
I am getting an error message. Please try to resolve this first.
Kr
Edward

[2022-01-21 12:13] ErkanYardibi commented on #58
Thank you very much,
I didn't know the JSON validation page, and I corrected my mistakes and works well.
Thanks

[2022-01-21 12:13] #58 closed

[2022-01-21 12:17] edtro commented on #58
Thank you for using Query Based Boards and for reaching out :-)

[2022-03-15 16:56] avylove opened #59 "Boards do not respect query filters"
When you use a "Work items and direct links" query like what's described [here](https://stackoverflow.com/a/45252562), the query seems to be completely ignored.

What I'm specifically looking for is a way to query all the children of a specific type and show them in a board. It seems dropping the parent from the query result may not be possible, but showing everything in a board should be.

[2022-03-17 07:51] edtro commented on #59
Dear,
Two things I want to mention:
- Please make sure that you have saved the query... unsaved queries can not be displayed (this is a limitation of the extension framework, just see the tab 'Charts' that has the same issue)
- Only Flat and One-hop queries (and only the parent-child links) are supported

Both prerequisites are also clearly mentioned within the readme on the marketplace. Please ch

[2022-03-17 07:51] edtro commented on #59
Btw. my appologies for my late reply...

[2022-03-17 14:28] avylove commented on #59
I hadn't saved it. That was the main issue.
The query above is close to what I'm trying to to do, but it still returns the parent rather than just the children, but I think that's a limitation of ADO rather than the plugin.

[2022-03-17 14:28] #59 closed

[2022-03-18 07:24] edtro commented on #59
@avylove
Thank you for your feedback, highly appreciated 👍

[2022-05-06 16:24] fforjan commented on #55
@edtro  any update on this problem ? still pending on Microsoft side ?

[2022-05-06 16:29] fforjan commented on #55
note, the reason I'm asking is that I've seen this new banner today :
![image](https://user-images.githubusercontent.com/601810/167173953-b30267dc-24e9-4443-a9b1-6de18143e314.png)
Or at least I think it is new...

[2022-05-07 13:04] fforjan commented on #55
Thanks for the status !

[2022-05-30 01:58] vensub-fy opened #60 "Query & configuration for Feature board"
I understand your extension is powerful. But I wish you had these as pre-packaged queries.
Can someone share the query and configuration details as to how to get this board in place.

![Screen Shot 2022-05-29 at 8 55 19 PM](https://user-images.githubusercontent.com/61947101/170903539-3c1f439b-6007-4f89-9de9-b70b6b63866c.png)

[2022-05-30 14:11] vensub-fy commented on #60
Ok, I think i figured this out. Thanks, this board is very helpful for us.

Here is the query I used.
`select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo], [System.State], [System.Tags], [Microsoft.VSTS.Common.Priority] from WorkItemLinks where (Source.[System.TeamProject] = @project and Source.[System.WorkItemType] = 'Feature' and not Source.[System.State] in ('Closed',

[2022-05-30 14:11] #60 closed

[2022-06-10 05:44] edtro commented on #60
Great to hear that you tried it yourself!
To get the most out of the queries itself, try to use the extenion created by Otto Streifel, see: https://marketplace.visualstudio.com/items?itemName=ottostreifel.wiql-editor

[2022-06-10 05:47] edtro commented on #23
Hi @tgolla,
I agree that this feature would have its value, that is why I have created this issue for it. Unfortunately I am not planning to implement this any time soon. This extension is created and maintained completely in my own free and spare time.
Kr.
Edward

[2022-06-21 05:54] CHFRIEDRICH1 opened #61 "Style rules for Tags"
Hello,

it is my first post :-) In the meanwhile we use querybasedboards for our team-based invidual queries with focus on "show as board". It is a nice and useful Extension :-)

Therefore we would like to create style rules for each Tag, too.  A Tag is not a field, i think. Because i tried it out, but it does not work.

Do you have a solution for this?

Thanks a lot.

Regards

Christian

[2022-06-30 08:51] edtro commented on #39
Not only you can use the field 'System.IterationPath', you can also use 'System.AreaPath' and other Custom Fields (if they are text fields).

It is still a work in progress...

Kr
Edward

[2022-06-30 08:57] JamborJan commented on #39
This is looking awesome. Thanks a lot for your work. If there is a beta or test version available I'm also willing to help you testing.

[2022-07-01 12:56] JasperGilhuis commented on #39
@edtro Oh this looks great! can you help me get this configured?

[2022-07-01 13:56] edtro opened #62 "Get access to the PREVIEW"
Hi,

Everyone that wants to have access to the PREVIEW version of this extension, you will have to do a couple of things:
- You will have to send me a message (email to edward.trouw@realdolmen.com) with your organisation name, so I can send you an invite;
- Reply to this thread, that you have sent me a message (just to make sure that I have missed nothing);
- Follow this thread.

When I have a dep

[2022-07-01 13:58] edtro commented on #61
Hi,
At the moment I just have implement some simple style rules. But it is nice addition.
But I do not know when I will have time for this.

Kr
Edward

[2022-07-03 07:01] edtro commented on #39
Released to the PREVIEW extension.

[2022-07-03 07:03] edtro commented on #62
Released issue #39 to the PREVIEW extension

[2022-07-03 07:04] edtro commented on #23
Released this issue together with #39 to the PREVIEW extension

[2022-07-04 06:33] CHFRIEDRICH1 commented on #61
Hi Edward, thanks for your update. :-) Regards Christian

[2022-07-04 12:53] JasperGilhuis commented on #55
Is it a possibility to have the "Boards" integration configurable in the settings of the extension?
This way you could have the Boards Hub Feature enabled, and use the preview functionality of the extension but not have the "Board" issue? When fixed enabling it would allow for using the boards?

[2022-07-06 20:33] JamborJan commented on #39
Hey @edtro, thanks. I'll follow up with this after my vacation which just started.

[2022-07-09 11:46] edtro commented on #39
This feature is now generally available!

[2022-07-09 11:47] edtro commented on #23
This feature is now generally available!

[2022-07-09 11:47] edtro commented on #62
These features are now generally available!

[2022-07-11 13:27] lieneth commented on #62
E-mail about preview sent. :-)

[2022-07-11 13:34] lieneth opened #63 "Cannot save Global configuration"
I get error "Failed to parse configuration: N-E"
Where I N-E could refer to our project name.
I can see, that it is marked in the fielss ID under settings.
It does not matter if I try to save empty "Global" configuration or one set up with data, like described in this post:
https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/blob/master/public/config.md
<img width="864" alt="ima

[2022-07-11 16:18] edtro commented on #63
Hi @lieneth,
Did this resolve the problem?
Kr
Edward

[2022-07-11 16:21] edtro commented on #63
I've tried to save an 'empty' config... and I am also getting an error.
Just try to save this config:
`{}`

PLEASE BE AWARE: when you get an error, please close this errorbox with the 'X'. And (re)save your config.

[2022-07-12 07:19] lieneth commented on #63
I did manage to save the query when I removed comments.
{
    "settings": {
        "showFilter": true
    },
    "fields": [{
            "name": "System.IterationPath",
            "title": "Iteration:"
        }
    ],
    "backlogTabs": [{
            "tabNumber": "1",
            "level": "Epics",
            "teamId": "",
            "queryId": "a544aff3-247b-45cc-bb25-7c152699ccda",

[2022-07-12 07:36] edtro commented on #63
ok, great!
Sorry but I didn't have the time to create an UI for the config settings.
But just a tip: use the following site https://jsonformatter.curiousconcept.com/ to check if it is a valid json.
Next you can check the console output (within the browsers developers section... F12), to see the error in detail.

I will close this issue.

Kr
Edward

[2022-07-12 07:36] #63 closed

[2022-07-15 11:35] JasperGilhuis commented on #39
Hi @edtro,

I played with the Iterations as columns. I found that if you settings setup has a mention of a Iteration Path that does not exist, it does allow the save that configuration. It also shows a column, but then dragging a card also works but then it has no connected iteration.

Is there a way of validation the configuration?

Thanks!

[2022-07-19 06:35] MairaDC commented on #62
Sent an email! :)

[2022-07-25 06:12] edtro commented on #62
Hi,

Here is some extra information regarding accepting the invite.

You will have to navigate to the Organization Settings > Extenstions > select tab 'Shared'

![image](https://user-images.githubusercontent.com/27762373/180709974-6c25b597-b982-4356-bb7b-006ff0564138.png)

Select the preview and use the 'Install' button.

Kr
Edward

[2022-08-17 18:44] destacey opened #64 "Add the Iterations to the filter and to the Show fields options"
Great tool.  It would be very helpful if the Iterations were available in the quick filter bar and available to show on the card.

![image](https://user-images.githubusercontent.com/9167606/185218265-3819629b-aa13-45bd-b740-f5cc4c90fa33.png)

Thanks

[2022-08-24 06:18] edtro commented on #64
Hi,
You should already be able to do that. Please review this manual: https://github.com/edtro/EdTro.AzureDevOps.Extensions.querybasedboards/blob/master/public/config.md

Kr
Edward

[2022-08-24 06:18] #64 closed

[2022-08-31 22:20] fforjan commented on #55
@edtro it seems with the latest iteration I cannot see this anymore.
I may be checking the wrong thing but...

[2022-10-25 15:01] fboettge commented on #62
Have sent you an email asking for preview access invitation :-)
Thanks a lot in advance!

BR
Frank

[2022-10-31 12:41] happySpartan opened #65 "Feature request: Support for macros"
Hi!

**Current situation**
I am using this new feature to have columns for iterations described here #39
Although I would like to use the macro _@CurrentIteration_ to get dynamically always the current sprint and next sprint per column.
For the moment this is hardcoded with the Sprint name.

**Expected bahavior**
In the JSON-document I could write the macro to dynamically get the current sprint
wi

[2022-11-05 11:45] fwboettger opened #66 "Feature Request: extend taskboard with "add task" (add child) UI capability"
Similar to the standard / out of the box Boards, would be great to have the capability to add child work items (foremost tasks) directly from within the taskboard.

Best regards,
Frank

[2022-11-06 09:52] fwboettger commented on #65
For me, three options would suffice to fulfil the outcome requirements (in case one of the options isnt suitable for implementation):
1. apply the above advanced configuration - column configuration containing the "@CurrentIteration" or "@CurrentIteration+1" macros; the extension would 'translate' this into the applicable current iteration when rendering the Taskboard.
2. Instead of configuring in

[2022-11-11 11:22] fwboettger opened #67 "Feature Request: add a filter "Parent Priority" for taskboards"
Would be great to have the capability to have the option to filter taskboards for the "Parent Priority" (Microsoft.VSTS.Common.Priority) in addition to "Parent has children" and "Parent State".